header {
    display: flex;
    background-color: $color-background-dark;
    font-weight: 200;
    padding-left: 3em;
    height: 60px;
    align-items: center;
    & h1 {
        font-weight: 200;
        width: 100%;
    }
    & nav {
        width: 100%;
        font-size: 22px;
        & ul a {
            padding-left: 1em;
        }
    }
}
