.modal-box {
    position: fixed;
    //display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
    background-color: white;
    width: 750px;
    margin-top: 60px;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    padding: 20px;
    //display: flex;
    //flex-direction: row;
}

.modal-close {
    //color: red;
    width: 100%;
    text-align: right;
}

.modal__top {
    display: flex;
    margin-bottom: 2em;
    &--right {
        width: 50%;
        h3 {
            font-size: 30px;
            padding-bottom: 1em;
        }
    }
}

.modal-description {
    padding-bottom: 1em;
}
