section {
    margin-top: 5em;
    h2 {
        text-align: center;
    }
    & div.carousel {
        margin-top: 3em;
    }
}

#best_movie {
    border: 3px solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .featured__left {
        width: 40%;
        text-align: center;
    }
    h2 {
        font-size: 36px;
    }
    .btn-play {
        font-size: 18px;
        text-align: center;
        width: 25%;
        background-color: red;
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
}

.filmImg {
    cursor: pointer;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: scale 200ms;
    &:hover {
        scale: 1.1;
        transition: scale 200ms;
    }
}
