* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 1000px;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}
