.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel__container {
    //position: absolute;
    width: 175%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

// .carousel__container::after {
//     content: '';
//     clear: both;
//     display: table;
// }
